<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
	<body>
		<th:block layout:fragment="content">
			<div class="container main-banner">
				<form th:action method="post">
					<fieldset>
						<legend style="text-align: center">로그인</legend>
						<div class="form-group">
							<div class="form-floating mb-3">
								<label for="floatingInput">Email address</label>
								<input type="email" name="email" class="form-control input-" id="floatingInput"
								       placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<div class="form-floating">
								<label for="floatingPassword">Password</label>
								<input type="password" name="pw" class="form-control" id="floatingPassword"
								       placeholder="Password">
							</div>
							<small class="form-text" style="color: #ff5353;cursor:pointer"
							       onclick="location.href='/auth/join'">회원이 아니신가요?</small>
						</div>
						<div class="text-lg-center">
							<button type="submit" class="btn btn-danger" style="margin:30px auto;">Login</button>
						</div>
					</fieldset>
				</form>
			</div>
		</th:block>
	</body>
</html>