<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<th:block th:fragment="configFragment">
		<meta charset="utf-8">
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
		
		<title>Dokuny Shop</title>
		
		
		<!-- Additional CSS Files -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
		
		<link rel="stylesheet" href="/css/templatemo-hexashop.css">
		
		<link rel="stylesheet" href="/css/owl-carousel.css">
		
		<link rel="stylesheet" href="/css/lightbox.css">
	</th:block>
</html>