<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header class="header-area header-sticky" th:fragment="headerFragment">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav class="main-nav">
							<!-- ***** Logo Start ***** -->
							<a href="/" class="logo">
								<img src="/images/black-logo.png">
							</a>
							<!-- ***** Logo End ***** -->
							<!-- ***** Menu Start ***** -->
							<ul class="nav">
								<li class="scroll-to-section"><a href="/">Home</a></li>
								<li class="scroll-to-section"><a href="/item/category/men">Men's</a></li>
								<li class="scroll-to-section"><a href="/item/category/women">Women's</a></li>
								<li class="scroll-to-section"><a href="/item/category/kids">Kid's</a></li>
								<li class="scroll-to-section"><a href="/item/category/accessories">Accessories</a></li>
								<li class="scroll-to-section" sec:authorize="isAnonymous()"><a href="/auth/login">Login</a></li>
								<li class="submenu" sec:authorize="hasRole('MEMBER')">
									<a href="javascript:;">My Page</a>
									<ul>
										<li><a href="/cart">Cart</a></li>
										<li><a href="/orders">Orders</a></li>
										<li><a href="#">Delivery</a></li>
										<li><a href="/auth/logout">Logout</a></li>
									</ul>
								</li>
								<li class="submenu" sec:authorize="hasRole('ADMIN')">
									<a href="javascript:;">Admin Page</a>
									<ul>
										<li><a href="/admin/item/new">Add Item</a></li>
										<li><a href="/admin/items">Item List</a></li>
										<li><a href="/auth/logout">Logout</a></li>
									</ul>
								</li>
							</ul>
							<a class='menu-trigger'>
								<span>Menu</span>
							</a>
							<!-- ***** Menu End ***** -->
						</nav>
					</div>
				</div>
			</div>
	</header>
</html>