<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header class="header" th:fragment="headerFragment">
		<div class="top-header">
			<div class="container">
				<div class="row">
					<div class="col">
						<span>Phone: +01 256 25 235</span>
						<span>email: info@eiser.com</span>
					</div>
					<div class="col text-right">
						<span>gift card</span>
						<span>track order</span>
						<div class="lang d-inline-flex">
							<span>language </span>
							<ul class="lang-dropdown">
								<li>Freance</li>
								<li>Spanis</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar">
				<!-- Site logo -->
				<a href="home-01.html" class="logo">
					<img src="../static/images/logo.png" alt="">
				</a>
				<a href="javascript:void(0);" id="mobile-menu-toggler">
					<i class="ti-align-justify"></i>
				</a>
				<ul class="navbar-nav">
					<li class="current-menu-item has-menu-child">
						<a href="#">Home</a>
						<ul class="sub-menu">
							<li><a href="home-01.html">Home 01</a></li>
							<li><a href="home-02.html">Home 02</a></li>
							<li><a href="home-03.html">Home 03</a></li>
						</ul>
					</li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				
				<div class="d-inline-flex align-items-center">
					<a href="#" class="search-icon icon">
						<!-- <img src="images/icons/search.png" alt=""> -->
						<i class="ti-search"></i>
					</a>
					<a href="#" class="cart-bag icon">
						<!-- <img src="images/icons/bag.png" alt=""> -->
						<i class="ti-shopping-cart"></i>
						<span class="itemCount">0</span>
					</a>
					<a href="#" class="wishlist icon">
						<i class="ti-heart"></i>
						<span class="itemCount">09</span>
					</a>
				</div>
			</nav>
		</div>
	</header>
</html>